<template>
  <q-dialog v-model="isShow" persistent>
    <q-card dark class="text-accent" style="width: 400px">
      <q-form ref="dialogFormRef" @submit="onSubmit">
        <q-card-section>
          <div class="text-h6">{{ title }}</div>
        </q-card-section>

        <slot></slot>

        <q-card-actions align="right">
          <q-btn flat :label="closeLabel" color="accent" v-close-popup />

          <q-btn flat :label="submitLabel" color="negative" type="submit" />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed, ref } from "vue";

// import types
import type { QForm } from "quasar";

const props = defineProps<{
  modelValue: boolean;
  title: string;
  submitLabel: string;
  closeLabel: string;
}>();
const emit = defineEmits<{
  (e: "update:modelValue", value: boolean): void;
  (e: "doSubmit"): void;
}>();

const isShow = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit("update:modelValue", value);
  },
});
const dialogFormRef = ref<InstanceType<typeof QForm> | null>(null);
const onSubmit = async () => {
  await emit("doSubmit");
};
</script>
