<script lang="ts" setup>
import { reactive, ref, watchEffect } from "vue";
import { useQuasar, uid } from "quasar";

// import stores
import useMoviesStore from "@stores/movies";

// import components
import Dialog from "@components/shared/Dialog.vue";
import MovieList from "@components/MovieList.vue";
import DeleteForm from "@components/DeleteForm.vue";
import DialogForm from "@components/DialogForm.vue";

// import types
import type { Movie } from "@/types/Movie";
import type { DialogProps, NotificationProps } from "@/types/Applications";

// define composables
const $q = useQuasar();

/** === START === **/
/** manage store **/
const moviesStore = useMoviesStore();
const { getMovieByTitle } = moviesStore;
/** === END === **/

/** === START === **/
/** manage list items searchable **/
const movies = reactive({
  data: [] as Movie[],
  totalCount: 0,
});
const search = ref("");
watchEffect(() => {
  const movieList = getMovieByTitle(search.value);

  movies.data = movieList;
  movies.totalCount = movieList?.length || 0;
});

/** manage list items expanded **/
const expanded = ref("");
const handleRefresh = async (done: () => void) => {
  const { pullToRefresh } = await import("@composables/useUtils");

  await pullToRefresh(done, async () => {
    await console.log("refresh");
  });
};
/** === END === **/

/** === START === **/
/** manage modals **/
type FormIntent = "delete-movie" | "edit-movie" | "create-movie";
const dialogForm = reactive<DialogProps<FormIntent, Movie>>({
  isShow: false,
  intent: "create-movie",
  dataForm: null as unknown as Movie,
  title: "Modal Title",
  closeLabel: "Cancel",
  submitLabel: "Submit",
});
const doResetDialog = () => {
  dialogForm.isShow = false;
  dialogForm.intent = "create-movie";
  dialogForm.dataForm = null as unknown as Movie;
  dialogForm.title = "Modal Title";
  dialogForm.closeLabel = "Cancel";
  dialogForm.submitLabel = "Submit";
};
const doShowDialog = ({
  intent,
  data,
}: {
  intent: FormIntent;
  data: Movie | null;
}) => {
  dialogForm.intent = intent;

  if (data) {
    dialogForm.dataForm = { ...data };
  } else {
    dialogForm.dataForm = {
      title: "",
      genres: [],
      director: "",
      summary: "",
      id: uid(),
    };
  }

  switch (intent) {
    case "create-movie":
      dialogForm.title = "Add New Movie";
      dialogForm.submitLabel = "Submit";
      break;
    case "delete-movie":
      dialogForm.title = "Are you absolutely sure?";
      dialogForm.submitLabel = "Delete";
      break;
    case "edit-movie":
      dialogForm.title = `Edit ${data?.title} Movie`;
      dialogForm.submitLabel = "Update";
      break;
  }

  setTimeout(() => {
    dialogForm.isShow = true;
  }, 150);
};
const handleCreate = (data: Movie): NotificationProps => {
  try {
    if (!data.id) throw new Error("Movie id failed to created!");

    moviesStore.addMovie(data);

    return {
      message: "Successfully to created the movie!",
      type: "positive",
    };
  } catch (error) {
    console.error(error);

    return {
      message: (error as Error)?.message || "Failed to create the movie!",
      type: "negative",
    };
  }
};
const handleDelete = (id: string): NotificationProps => {
  try {
    if (!id) throw new Error("Movie not found!");

    moviesStore.deleteMovie(id);

    return {
      message: "Successfully to deleted the movie!",
      type: "positive",
    };
  } catch (error) {
    console.error(error);

    return {
      message: (error as Error)?.message || "Failed to delete the movie!",
      type: "negative",
    };
  }
};
const handleEdit = (data: Movie): NotificationProps => {
  try {
    if (!data?.id) throw new Error("Movie not found!");

    moviesStore.updateMovie({ ...data });

    return {
      message: "Successfully to updated the movie!",
      type: "positive",
    };
  } catch (error) {
    console.error(error);

    return {
      message: (error as Error)?.message || "Failed to updated the movie!",
      type: "negative",
    };
  }
};
const handleSubmission = () => {
  let notification: NotificationProps = {
    message: "",
    type: "positive",
  };

  try {
    switch (dialogForm.intent) {
      case "create-movie":
        notification = handleCreate(dialogForm.dataForm);
        break;
      case "edit-movie":
        notification = handleEdit(dialogForm.dataForm);
        break;
      case "delete-movie":
        notification = handleDelete(dialogForm.dataForm.id);
        break;
    }
  } finally {
    setTimeout(() => {
      if (notification.type !== "negative") {
        doResetDialog();
      }

      $q.notify(notification);
    }, 150);
  }
};
/** === END === **/
</script>

<template>
  <q-page class="q-mx-auto q-pa-md" style="max-width: 1440px">
    <div class="row q-mb-xl">
      <div class="col-12 col-md-4">
        <q-input
          v-model="search"
          dark
          standout
          clearable
          debounce="500"
          placeholder="Search movie by title..."
        >
          <template v-slot:prepend>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>
    </div>

    <q-pull-to-refresh @refresh="(done) => handleRefresh(done)">
      <div class="row q-col-gutter-lg">
        <template v-if="movies && movies.totalCount">
          <template v-for="movie in movies.data" :key="movie.id">
            <div class="col-12 col-sm-6 col-md-4">
              <MovieList
                v-model="expanded"
                :movie="movie"
                @doShowEditForm="
                  doShowDialog({ intent: 'edit-movie', data: movie })
                "
                @doShowDeleteForm="
                  doShowDialog({ intent: 'delete-movie', data: movie })
                "
              />
            </div>
          </template>
        </template>

        <template v-else>
          <div class="col-12 text-center">
            <span class="text-weight-light">No todo watch found!</span>
          </div>
        </template>
      </div>
    </q-pull-to-refresh>

    <!-- dialog -->
    <Dialog
      v-model="dialogForm.isShow"
      v-bind="{
        title: dialogForm.title,
        closeLabel: dialogForm.closeLabel,
        submitLabel: dialogForm.submitLabel,
        onDoSubmit: handleSubmission,
      }"
    >
      <q-card-section v-if="dialogForm.intent === 'delete-movie'">
        <DeleteForm />
      </q-card-section>

      <q-card-section
        v-else-if="
          dialogForm.intent === 'edit-movie' ||
          dialogForm.intent === 'create-movie'
        "
      >
        <DialogForm :data="dialogForm.dataForm" />
      </q-card-section>
    </Dialog>

    <q-footer bordered class="bg-primary text-center q-pa-sm">
      <q-btn
        round
        unelevated
        color="positive"
        icon="add"
        size="16px"
        @click="doShowDialog({ intent: 'create-movie', data: null })"
      >
        <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
          Add Movie
        </q-tooltip>
      </q-btn>
    </q-footer>
  </q-page>
</template>
