<template>
  <div class="row items-center">
    <div class="col-12">
      <span>
        You are going to delete the movie, this action will deleted the data
        permanently!
      </span>
    </div>
  </div>
</template>
