<template>
  <div>
    <q-input
      v-model="data.title"
      dark
      lazy-rules
      clearable
      standout
      :rules="[(val) => !!val || 'Movie title is required!']"
      label="Movie Title"
      placeholder="Enter your movie title..."
      class="q-mb-md"
    />

    <q-input
      v-model="data.director"
      dark
      lazy-rules
      clearable
      standout
      :rules="[(val) => !!val || 'Movie director is required!']"
      label="Director"
      placeholder="Enter your movie director..."
      class="q-mb-md"
    />

    <q-select
      v-model="data.genres"
      dark
      standout
      lazy-rules
      multiple
      clearable
      options-cover
      options-dark
      use-chips
      :options="genres"
      :rules="[
        (val) => (val && val.length) || 'Movie genres is required!',
        (val) => val.length <= 2 || 'Movie genres maximum 2 selected genres!',
      ]"
      label="Genres"
      placeholder="Enter your movie genres..."
      class="q-mb-md"
    />

    <q-input
      v-model="data.summary"
      dark
      lazy-rules
      clearable
      standout
      :rules="[
        (val) => !!val || 'Movie summary is required!',
        (val) =>
          val.length < 100 || 'Movie summary maximum contains 100 characters!',
      ]"
      label="Summary"
      placeholder="Enter your movie summary..."
      type="textarea"
      class="q-mb-md"
    />
  </div>
</template>

<script setup lang="ts">
// import stores
import useMoviesStore from "@/stores/movies";

// import types
import type { Movie } from "@/types/Movie";

defineProps<{
  data: Movie;
}>();

/** === START === **/
/** manage store **/
const { genres } = useMoviesStore();
/** === END === **/
</script>
