<template>
  <q-card flat bordered square class="my-card bg-primary">
    <q-card-section>
      <div class="text-overline">{{ movie.genres.join(", ") }}</div>

      <div class="text-h5 q-mt-sm q-mb-xs">
        {{ movie.title }}
      </div>

      <div class="text-subtitle2">By {{ movie.director }}</div>
    </q-card-section>

    <q-card-actions>
      <q-btn flat color="info" label="Edit" @click="emit('doShowEditForm')" />

      <q-btn
        flat
        color="negative"
        label="Delete"
        @click="emit('doShowDeleteForm')"
      />

      <q-space />

      <q-btn
        color="grey"
        round
        flat
        dense
        :icon="isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
        @click="doExpand(movie.id)"
      />
    </q-card-actions>

    <q-slide-transition>
      <div v-show="isExpanded">
        <q-separator />

        <q-card-section class="text-subtitle2">
          {{ movie.summary }}
        </q-card-section>
      </div>
    </q-slide-transition>
  </q-card>
</template>

<script lang="ts" setup>
import { computed } from "vue";

// import types
import type { Movie } from "@/types/Movie";

// define the props
const props = defineProps<{
  modelValue: string;
  movie: Movie;
}>();
const emit = defineEmits<{
  (e: "update:modelValue", value: string): void;
  (e: "doShowEditForm"): void;
  (e: "doShowDeleteForm"): void;
}>();

const expanded = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit("update:modelValue", value);
  },
});
const isExpanded = computed(() => expanded.value === props.movie.id);
const doExpand = (id: string) => {
  // if id it's same with before the expanded value, remove it(means close the expanded card)
  if (expanded.value === id) {
    expanded.value = "";
    return;
  }

  // else, open the another card
  expanded.value = id;
};
</script>
