<script setup lang="ts"></script>

<template>
  <q-layout
    container
    style="height: 100dvh"
    view="lHh lpr lFf"
    class="bg-secondary text-accent"
  >
    <q-header reveal bordered class="bg-primary">
      <q-toolbar>
        <q-toolbar-title class="text-center"> Todo Watch </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="scss">
body {
  font-family: "Nunito Sans", "Roboto", sans-serif;
}
</style>
